{% extends 'base.html' %}
{% block content%}

<style type="text/css">
    table {
border: black 1px solid;
  width: 60%;
}
  .boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: darkblue;
    background-color: turquoise;
    border-radius: 15px;
    border: 3px double darkblue;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }
</style>
<script>
    function solonumeros(e){
        key=e.keyCode || e.which;
  
        teclado= String.fromCharCode(key);
  
        numeros="0123456789";
  
        especiales="8-37-38-46";
  
        teclado_especial= false;
        for (var i in especiales ){
            if(key==especiales[i]){
                teclado_especial=true;
            }
        }
        if(numeros.indexOf(teclado)==-1 && !teclado_especial){
            return false;
  
        }
  
    }
  </script>
  <script>
    function sololetras(e){
        key=e.keyCode || e.which;
  
        teclado= String.fromCharCode(key).toLowerCase();
  
        letras=" abcdefghijklmnñopqrstuvwxyz";
  
        especiales="8-37-38-46-164";
  
        teclado_especial=false;
  
        for (var i in especiales ){
            if(key==especiales[i]){
                teclado_especial=true;break;
            }
        }
        if(letras.indexOf(teclado)==-1 && !teclado_especial){
            return false;
  
        }
    }
  </script>
<form method="POST">
    {% csrf_token %}
    
    
    
    <center><table  border-collapse: collapse > 
        <table>
            <tr>
                <td colspan="8">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="8" style="font-family:'Courier New', Courier, monospace"><center><h3>DIRECCION DE GESTION DE LEGALIZACION  DE TIERRAS</h3></center></td>
            </tr>
            <tr>
                <td colspan="8" style="font-family:'Courier New', Courier, monospace"><center><h3>COORDINACION DE INFORMACION PREDIAL</h3></center></td>
            </tr>
            <tr>
                <td colspan="8" style="font-family:'Courier New', Courier, monospace"><center><h3>REUNION SECTORIAL SOCIOLOGICA</h3></center></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="6">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <th>Fecha de reunion: </th>
                <td onkeypress="return solonumeros(event)">{{ form.informesociologica.fecha_reunion_soci }}</td>
                <th>Tramite: </th>
                <td>{{ form.beneficiario.tramite }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="6">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="6" style="font-family: fantasy">INFORMACION DEL SOLICITANTE:</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="6">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <th>Nombre: </th>
                <td onkeypress="return sololetras(event)">{{ form.beneficiario.nombre }}</td>
                <th>Apellido: </th>
                <td onkeypress="return sololetras(event)"> {{ form.beneficiario.apellido }}</td>
                <th>Cedula: </th>
                <td onkeypress="return solonumeros(event)"> {{ form.beneficiario.cedula }}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="6">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <th>Celular: </th>
                <td onkeypress="return solonumeros(event)"> {{ form.beneficiario.celular }}</td>
                <th>Correo: </th>
                <td> {{ form.beneficiario.correo }}</td>
                <td>Sexo</td>
                <td>{{ form.beneficiario.sexo}};</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="6">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Dignidad</td>
                <td onkeypress="return sololetras(event)">{{ form.beneficiario.dignidad}};</td>
                <td>Edad</td>
                <td onkeypress="return solonumeros(event)">{{ form.beneficiario.edad}};</td>
                <td>Estado civil;</td>
                <td>{{ form.beneficiario.estado_civil }}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="6">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="6" style="font-family: fantasy">CARACTERIZACION PREDIAL:</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="6">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        <tr>
            <td>&nbsp;</td>
            <th>Homogeneidad:</th>
            <td>{{ form.informesociologica.homogenidad_predial }}</td>
            <th>Definicion e procesos de intervencion: </th>
            <td> {{ form.informesociologica.def_procesos_intervencion }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>

        </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="6">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            <tr>
            <td>&nbsp;</td>
            <th>Datos de los predios: </th>
            <td> {{ form.informesociologica.datos_predios }}</td>
            <td>Seleccione el Tramite:</td>
            <td>{{ form.informesociologica.tramite}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="8">-</td>
        </tr>
          <tr>
            <td colspan="8"><center><button type="submit" class="boton_1">Guardar</button></center></td>
        </tr>
            </table>
    </table></center>
</form>

{% endblock %}